DB_USER=postgres
DB_PASSWORD=youpassword
DB_NAME=transcendence
DATABASE_URL=postgresql://postgres:youpassword@db:5432/transcendence

JWT_SECRET=<your_secret>
JWT_REFRESH_SECRET=<your_refresh_secret>
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

PORT=3001

FRONTEND_URL=http://<hostIP>:8080

GOOGLE_CLIENT_ID=<askgoogle>
GOOGLE_CLIENT_SECRET=<askgoogle>
GOOGLE_CALLBACK_URL=http://<hostIP>:8080/api/auth/google/callback

INTRA_CLIENT_ID=xxx
INTRA_CLIENT_SECRET=xxx
INTRA_CALLBACK_URL=https://<hostIP>/api/auth/42/callback

PUBLIC_API_KEY=<find out>
