DB_USER=postgres
DB_PASSWORD=youpassword
DB_NAME=transcendence
DATABASE_URL=postgresql://postgres:youpassword@db:5432/transcendence

JWT_SECRET=<your_secret>
JWT_REFRESH_SECRET=<your_refresh_secret>
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

PORT=3001

FRONTEND_URL=http://10.11.2.6:8080

GOOGLE_CLIENT_ID=761200382852-5efieum120egc7sj0lihvdscnj6mcccn.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:8080/api/auth/google/callback

INTRA_CLIENT_ID=xxx
INTRA_CLIENT_SECRET=xxx
INTRA_CALLBACK_URL=https://localhost/api/auth/42/callback

PUBLIC_API_KEY=79e6355691973817e4a7cbce4cf703f45acae82078d2e67c0b5ff370d4817c45